#waybar {
    background-color: rgba(0, 0, 0, 0); /* Dark semi-transparent background */
	font-family: Monaspace Argon Var;
	font-size: 16px;
}

#clock,
#network,
#battery,
#language,
#backlight,
#workspaces,
#wireplumber,
#keyboard-state
{
	background-color: #21201a;
	color: #e6c68a;
	padding: 3px;
	margin-top: 2px;
	margin-bottom: 6px;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 10px;
}

#clock,
#language,
#backlight,
#wireplumber
{
	padding-left: 16px;
	padding-right: 16px;
}

#battery,
#network
{
	padding-left: 16px;
	padding-right: 22px;
}

#workspaces button {
	color: #e6c68a;
	padding: 3px;
	border-radius: 8px;
	box-shadow: none;
	text-shadow: none;
	margin-left: 2px;
	margin-right: 2px;
}

#workspaces button:hover {
	border: 1px solid #e6c68a;
	background: #21201a;
}

#workspaces button.focused {
	border: 1px solid #88c288;
}

#keyboard-state label, #keyboard-state label.locked {
	margin-left: 12px;
	margin-right: 12px;
}
