#waybar {
	background-color: rgba(0, 0, 0, 0);
	font-family: Victor Mono;
	font-weight: 600;
	font-size: 13px;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: rgba(0, 0, 0, 0);
	color: #82D757;
	border: 0px;
}

#clock,
#language,
#workspaces,
#tray,
#network,
#wireplumber,
#backlight,
#battery,
#bluetooth,
#power-profiles-daemon
{
	background-color: #182421;
	border: 0px;
	border-radius: 10px;
	margin-top: 6px;
	margin-bottom: 2px;
	margin-left: 6px;
	margin-right: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}

#bluetooth,
#network
{
	padding-left: 12px;
	padding-right: 12px;
}

#workspaces button {
	color: #82D757;
	box-shadow: none;
	text-shadow: none;
	border-radius: 8px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 1px;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#workspaces button:hover {
	border: 1px solid #ECE64E;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#workspaces button.active {
	border: 1px solid #ECE64E;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#custom-spacer,
#custom-spacer-start,
#custom-spacer-end
{
	color: #5B5B5B
}

