#waybar {
	background-color: $COLOR_16;
	font-family: Victor Mono;
	font-weight: 600;
	font-size: 13px;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

.modules-left,
.modules-center,
.modules-right {
	background-color: rgba(0, 0, 0, 0);
	color: $COLOR_02;
	border: 0px;
}

#clock,
#language,
#workspaces,
#tray,
#network,
#wireplumber,
#backlight,
#battery,
#power-profiles-daemon
{
	border: 0px;
	border-radius: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
}

#workspaces button {
	color: $COLOR_02;
	box-shadow: none;
	text-shadow: none;
	border-radius: 8px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 2px;
	padding-right: 1px;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#workspaces button:hover {
	border: 1px solid $COLOR_03;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#workspaces button.active {
	border: 1px solid $COLOR_03;
	transition:
		background-color 250ms ease,
		color 250ms ease,
		border-color 250ms ease,
		transform 250ms ease,
		box-shadow 250ms ease,
		opacity 250ms ease;
}

#custom-spacer,
#custom-spacer-start,
#custom-spacer-end
{
	color: $COLOR_00
}

